<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getNomePagina() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-1" *ngIf="usuario">

    <ion-text color="light">
      <h6 class="my-1">Outros</h6>
    </ion-text>
    <ion-text (click)="sair()" color="light" class="d-block">
      Sair
      <small class="opacity-08 d-block">Você entrou como {{ usuario.nomeCompleto }}</small>
    </ion-text>

  </div>
</ion-content>
