<ion-tabs>
  <app-player-minimizado class="bg-dark"></app-player-minimizado>
  
  <ion-tab-bar slot="bottom" color="dark" class="custom-tab-bar">
    <ion-tab-button (click)="goHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goSearch()">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goLibrary()">
      <ion-icon name="list"></ion-icon>
      <ion-label>Sua Biblioteca</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
