<app-player-timeline [song]="song"></app-player-timeline>

<ion-toolbar color="dark">
  <ion-grid class="p-0">
    <ion-row class="p-0 ion-align-items-center ion-justify-content-center">

      <ion-col [size]="2" class="p-0">
        <app-song-avatar *ngIf="song" (click)="modal(song)" [song]="song"></app-song-avatar>
      </ion-col>

      <ion-col [size]="7" class="p-0 px-1">
        <ion-slides 
          #slides 
          *ngIf="songs"
          pager="false" 
          [options]="slideOpts" 
          (ionSlideDidChange)="change()"
          (ionSlidesDidLoad)="initSlide()">
          <ion-slide (click)="modal(song)" id="{{ song.id }}" *ngFor="let song of songs" class="d-block">
            <small class="song d-block text-align-center">
              <strong>{{ song.title }}</strong>
              <span class="color-light-shade song-ball"> • </span>
              <span class="color-light-shade">{{ song.artist.name }}</span>
            </small>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col [size]="3" class="p-0">
        <div #buttons class="buttons">
          <app-player-btn-like 
            *ngIf="song"
            class="mr-1"
            [buttonFill]="'clear'" 
            [buttonColor]="'dark'"
            [buttonPaddingX]="false"
            [iconSize]="'large'"
            [song]="song">
          </app-player-btn-like>
          <app-player-btn-play-pause
            [buttonFill]="'clear'"
            [buttonColor]="'light'"
            [buttonPaddingX]="false"
            [iconSize]="'large'">
          </app-player-btn-play-pause>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-toolbar>
