<app-player-timeline></app-player-timeline>

<ion-toolbar color="dark">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding ion-align-items-center ion-justify-content-center">

      <ion-col [size]="3" class="ion-no-padding ion-padding-end">
        <ion-img *ngIf="song" [src]="song.artist.photo" [alt]="song.artist.name"></ion-img>
      </ion-col>

      <ion-col [size]="6" class="ion-no-padding">
        <ion-slides 
          #slides 
          *ngIf="songs"
          pager="false" 
          [options]="slideOpts" 
          (ionSlideDidChange)="change()"
          (ionSlidesDidLoad)="initSlide()">
          <ion-slide id="{{ song.id }}" *ngFor="let song of songs" class="d-block">
            <small (click)="modal(song)" class="song d-block text-center">
              <strong>{{ song.title }}</strong>
              <span class="opacity-05 song-ball"> • </span>
              <span class="opacity-05">{{ song.artist.name }}</span>
            </small>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col [size]="3" class="ion-no-padding ion-padding-start">
        <div class="buttons">
          <app-player-btn-like 
            [buttonFill]="'clear'" 
            [buttonColor]="'dark'"
            [buttonPaddingX]="false"
          ></app-player-btn-like>
          <app-player-btn-play-pause
            [buttonFill]="'clear'"
            [buttonColor]="'light'"
            [buttonPaddingX]="false"
          ></app-player-btn-play-pause>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-toolbar>
