@import '../../../../../theme/variables.scss';

ion-toolbar {
  --ion-color-base: var(--ion-color-medium) !important;
  border-bottom: 1px solid var(--ion-color-dark);
}

.song {
  font-size: 0.7em;
  width: max-content;
  padding-right: 1em;
}
.song-ball {
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}