@import '../../../../../theme/variables.scss';

.bolinha {
  font-weight: 700; 
}
ion-toolbar {
  --ion-color-base: var(--ion-color-medium) !important;
  border-bottom: 1px solid var(--ion-color-dark);
}
.icon-custom  {
  border: 1px solid var(--ion-color-light);
  border-radius: 100%;
  width: 1.75em;
  height: 1.75em;
}
.md.icon-custom {
  width: 2.3em;
  height: 2.25em;
}
.icon-play {
  transform: translateX(1px);
}
// .icon-pause {}
.bolinha, .artista {
  opacity: 0.5;
}
