<ion-content class="gradient">
  <div class="p-1 h-100">
    <ion-grid class="h-100">
      <ion-row class="ion-align-items-center ion-justify-content-center h-100">
        <ion-col size="12">
          <app-logo  [tamanho]="'25'"></app-logo>
        </ion-col>
    
        <ion-col size="12">
          <ion-text color="light">
            <p class="ion-no-margin"><strong>Milhões de músicas à sua escolha.</strong></p>
            <p class="ion-no-margin"><strong>Grátis no Spotify.</strong></p>
          </ion-text>
        </ion-col>
    
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="criarConta()" class="mb-1" size="large" color="success" shape="round" expand="full">Inscreva-se grátis</ion-button>
          <ion-button (click)="goFacebook()" class="mb-1" size="large" color="light" shape="round" expand="full" fill="outline">Continuar com o Facebook</ion-button>
          <ion-button (click)="goLogin()" size="large" color="light" fill="clear">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
