<ion-header>
  <ion-toolbar color="dark" class="transparent">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="gradient-25deg">
  <div class="p-1">
    <ion-text color="light">
      <h1 class="mt-0">Tocadas recentemente</h1>
    </ion-text>

    <ion-text color="light">
      <h1>Não sai dos seus ouvidos</h1>
    </ion-text>

    <ion-text color="light">
      <h1>Seus podcasts mais escutados</h1>
    </ion-text>

    <ion-text color="light">
      <h1>Suas playlists</h1>
    </ion-text>

    <ion-text color="light">
      <h1>Paradas</h1>
    </ion-text>

    <ion-text color="light">
      <h1>Escute denovo</h1>
    </ion-text>
  </div>
</ion-content>
