<span class="timeline">
  <span class="timeline-percent"></span>
</span>
<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <app-player-btn-favoritar [buttonFill]="'clear'" [buttonColor]="'dark'"></app-player-btn-favoritar>
  </ion-buttons>

  <ion-slides #slides *ngIf="musicas" pager="false" [options]="slideOpts" (ionSlidesDidLoad)="initSlide()">
    <ion-slide *ngFor="let musica of musicas">
      <small (click)="modal(musica)" class="musica d-block text-center">
        <strong class="musica-titulo">{{ musica.titulo }}</strong>
        <span class="musica-bolinha opacity-05"> • </span>
        <span class="musica-artista opacity-05">{{ musica.artista.nome }}</span>
      </small>
    </ion-slide>
  </ion-slides>

  <ion-buttons slot="end">
    <app-player-btn-play-pause [iconSize]="'large'" [buttonFill]="'clear'" [buttonColor]="'dark'"></app-player-btn-play-pause>
  </ion-buttons>
</ion-toolbar>
