<app-player-timeline></app-player-timeline>

<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <app-player-btn-like [buttonFill]="'clear'" [buttonColor]="'dark'"></app-player-btn-like>
  </ion-buttons>

  <ion-slides #slides *ngIf="musicas" pager="false" [options]="slideOpts" (ionSlidesDidLoad)="initSlide()">
    <ion-slide *ngFor="let musica of musicas">
      <small (click)="modal(musica)" class="musica d-block text-center">
        <strong>{{ musica.title }}</strong>
        <span class="musica-ball opacity-05"> • </span>
        <span class="opacity-05">{{ musica.artist.name }}</span>
      </small>
    </ion-slide>
  </ion-slides>

  <ion-buttons slot="end">
    <app-player-btn-play-pause
      [iconSize]="'large'"
      [buttonFill]="'clear'"
      [buttonColor]="'light'"
    ></app-player-btn-play-pause>
  </ion-buttons>
</ion-toolbar>
