@import '../../../../../theme/variables.scss';

ion-toolbar {
  --ion-color-base: var(--ion-color-medium) !important;
  border-bottom: 1px solid var(--ion-color-dark);
}
.musica {
  font-size: 0.75em;
}
.musica-bolinha {
  font-weight: 700; 
}
.icon-custom  {
  border: 1px solid var(--ion-color-light);
  border-radius: 100%;
  width: 1.75em;
  height: 1.75em;
}
.md.icon-custom {
  width: 2.3em;
  height: 2.25em;
}
.icon-play {
  transform: translateX(1px);
}
// .icon-pause {}
.timeline {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--ion-color-medium-tint);
  position: relative;
}
.timeline-percent {
  width: 25%;
  height: 1px;
  background-color: var(--ion-color-light);  
  position: absolute;
  top: 0;
  left: 0;
}
