@import '../../../../../theme/variables.scss';

ion-toolbar {
  --ion-color-base: var(--ion-color-medium) !important;
  border-bottom: 1px solid var(--ion-color-dark);
}
.musica {
  font-size: 0.75em;
}
.musica-ball {
  font-weight: 700;
}
