<ion-header>
  <ion-toolbar color="dark" class="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getPageName() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="gradient">
  <div class="p-1">
    <form [formGroup]="forgotPasswordForm">
      <ion-label 
        class="label-input" 
        color="light">
        E-mail ou nome de usuário
      </ion-label>
      <ion-input formControlName="auth" type="text" class="mb-0"></ion-input>
      <ion-text color="light">
        <small>Vamos enviar um link de login para o seu e-mail.</small>
      </ion-text>
    </form>
  
    <div class="text-align-center">
      <ion-button
        class="mt-2"
        [disabled]="forgotPasswordForm.invalid" 
        (click)="onSubmit()" 
        size="large" 
        color="light" 
        shape="round">
        Enviar link
      </ion-button>
    </div>
  </div>
</ion-content>
