.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-inherit {
  text-align: inherit;
}
.text-unset {
  text-align: unset;
}
.text-initial {
  text-align: initial;
}