/** primary **/
.color-primary {
  color: var(--ion-color-primary);
}
.color-primary-contrast {
  color: var(--ion-color-primary-contrast);
}
.color-primary-shade {
  color: var(--ion-color-primary-shade);
}
.color-primary-tint {
  color: var(--ion-color-primary-tint);
}

/** secondary **/
.color-secondary {
  color: var(--ion-color-secondary);
}
.color-secondary-contrast {
  color: var(--ion-color-secondary-contrast);
}
.color-secondary-shade {
  color: var(--ion-color-secondary-shade);
}
.color-secondary-tint {
  color: var(--ion-color-secondary-tint);
}

/** tertiary **/
.color-tertiary {
  color: var(--ion-color-tertiary);
}
.color-tertiary-contrast {
  color: var(--ion-color-tertiary-contrast);
}
.color-tertiary-shade {
  color: var(--ion-color-tertiary-shade);
}
.color-tertiary-tint {
  color: var(--ion-color-tertiary-tint);
}

/** success **/
.color-success {
  color: var(--ion-color-success);
}
.color-success-contrast {
  color: var(--ion-color-success-contrast);
}
.color-success-shade {
  color: var(--ion-color-success-shade);
}
.color-success-tint {
  color: var(--ion-color-success-tint);
}

/** warning **/
.color-warning {
  color: var(--ion-color-warning);
}
.color-warning-contrast {
  color: var(--ion-color-warning-contrast);
}
.color-warning-shade {
  color: var(--ion-color-warning-shade);
}
.color-warning-tint {
  color: var(--ion-color-warning-tint);
}

/** danger **/
.color-danger {
  color: var(--ion-color-danger);
}
.color-danger-contrast {
  color: var(--ion-color-danger-contrast);
}
.color-danger-shade {
  color: var(--ion-color-danger-shade);
}
.color-danger-tint {
  color: var(--ion-color-danger-tint);
}

/** dark **/
.color-dark {
  color: var(--ion-color-dark);
}
.color-dark-contrast {
  color: var(--ion-color-dark-contrast);
}
.color-dark-shade {
  color: var(--ion-color-dark-shade);
}
.color-dark-tint {
  color: var(--ion-color-dark-tint);
}

/** medium **/
.color-medium {
  color: var(--ion-color-medium);
}
.color-medium-contrast {
  color: var(--ion-color-medium-contrast);
}
.color-medium-shade {
  color: var(--ion-color-medium-shade);
}
.color-medium-tint {
  color: var(--ion-color-medium-tint);
}

/** light **/
.color-light {
  color: var(--ion-color-light);
}
.color-light-contrast {
  color: var(--ion-color-light-contrast);
}
.color-light-shade {
  color: var(--ion-color-light-shade);
}
.color-light-tint {
  color: var(--ion-color-light-tint);
}
