/* align */
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}
.text-align-start {
  text-align: start;
}
.text-align-end {
  text-align: end;
}
.text-align-inherit {
  text-align: inherit;
}
.text-align-unset {
  text-align: unset;
}
.text-align-initial {
  text-align: initial;
}

/* transform */
.text-transform-capitalize {
  text-transform: capitalize;
}
.text-transform-lowercase {
  text-transform: lowercase;
}
.text-transform-none {
  text-transform: none;
}
.text-transform-uppercase {
  text-transform: uppercase;
}
.text-transform-initial {
  text-transform: initial;
}
.text-transform-inherit {
  text-transform: inherit;
}
.text-transform-unset {
  text-transform: unset;
}