@import '../../../../../theme/variables.scss';

.salutation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .salutation-box {
    width: 48.5%;
    overflow: hidden;
    background-color: rgba(var(--ion-color-light-rgb), 0.1);
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.5%;
    position: relative;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    app-song-avatar {
      width: 33%;
      min-width: 33%;
    }
    strong {
      padding: 0.75em;
      font-size: 0.7em;
    }
    .animation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      position: absolute;
      right: 0.35em;
      width: 0.75em;
      i {
        width: 0.15em;
        height: 0.5em;
        background-color: var(--ion-color-success);
        margin: 0.05em;
        border-radius: 0.25em;
        animation-duration: 0.8s;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &:nth-child(1) {
          animation-name: animation1;
          animation-delay: 0;
        }
        &:nth-child(2) {
          animation-name: animation2;
          animation-delay: 0.25;
        }
        &:nth-child(3) {
          animation-name: animation3;
          animation-delay: 0.5;
        }
      }
      @keyframes animation1 {
        0% {
          transform: scaleY(0.5);
        }
        25% {
          transform: scaleY(1.5);
        }
        75% {
          transform: scaleY(1);
        }
        100% {
          transform: scaleY(0.5);
        }
      }
      @keyframes animation2 {
        0% {
          transform: scaleY(1);
        }
        25% {
          transform: scaleY(0.5);
        }
        75% {
          transform: scaleY(1.5);
        }
        100% {
          transform: scaleY(1);
        }
      }
      @keyframes animation3 {
        0% {
          transform: scaleY(1.5);
        }
        25% {
          transform: scaleY(1);
        }
        75% {
          transform: scaleY(0.5);
        }
        100% {
          transform: scaleY(1.5);
        }
      }
    }
  }
}
