<ion-header>
  <ion-toolbar color="dark" class="transparent">
    <ion-buttons slot="end">
      <ion-button #iconConfiguration (click)="goConfiguration()">
        <ion-icon size="large" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content 
  class="gradient-25deg"
  fullscreen 
  [scrollEvents]="true"
  scrollOpacity
  [elementOpacity]="iconConfiguration.el">
  <div class="p-1 pt-0">
    <ion-text color="light"><h1 class="mt-0">Bom dia</h1></ion-text>
    <div class="salutation mb-3" *ngIf="player">
      <div class="salutation-box" *ngFor="let playlist of playlists; index as i">
        <app-song-avatar></app-song-avatar>
        <ion-text color="light"><strong>{{ playlist.name }}</strong></ion-text>
        <span class="animation" *ngIf="i === 2 && player.playing"><i></i><i></i><i></i></span>
      </div>
    </div>

    <ion-text color="light"><h1>Tocadas recentemente</h1></ion-text>
    <div class="slides mb-3">
      <ion-slides 
        #slides 
        pager="false" 
        [options]="slidesOpts" 
        (ionSlidesDidLoad)="initSlide()">
        <ion-slide *ngFor="let song of songs; index as i">
          <div class="slides-item text-align-center">
            <app-song-avatar [song]="song" [thumbRounded]="true"></app-song-avatar>
            <ion-text color="light" class="d-block"><strong>{{ song.artist.name | stringResume: 14 }}</strong></ion-text>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-text color="light"><h1>Suas playlists</h1></ion-text>
    <div class="slides">
      <ion-slides 
        #slides 
        pager="false" 
        [options]="slidesOpts" 
        (ionSlidesDidLoad)="initSlide()">
        <ion-slide *ngFor="let playlist of playlists; index as i">
          <div class="slides-item text-align-left">
            <app-song-avatar></app-song-avatar>
            <ion-text color="light" class="d-block"><strong>{{ playlist.name }}</strong></ion-text>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
