<ion-content class="gradient ion-padding">
  <app-logo [tamanho]="'25'"></app-logo>

  <ion-text color="light">
    <p class="ion-no-margin"><strong>Milhões de músicas à sua escolha.</strong></p>
    <p class="ion-no-margin"><strong>Grátis no Spotify.</strong></p>
  </ion-text>

  <div class="my-5">
    <ion-button class="ion-margin-vertical" color="success" shape="round" expand="full">Inscreva-se grátis</ion-button>
    <ion-button class="ion-margin-vertical" color="light" shape="round" expand="full" fill="outline">Continuar com o Facebook</ion-button>
    <ion-button class="ion-margin-vertical" color="light" expand="full" fill="clear">Entrar</ion-button>
  </div>
</ion-content>
