<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-1">
    <ion-label class="label-input" color="light">E-mail ou nome de usuário</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label class="label-input" color="light">Senha</ion-label>
    <ion-input type="password"></ion-input>

    <ion-grid class="text-center">
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="login()" class="mb-1" size="large" color="light" shape="round">Entrar</ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button (click)="esqueciSenha()" size="small" color="light" shape="round" fill="outline">Esqueceu sua senha?</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
