<ng-container *ngIf="isMinimizado; else maximizado">
  <div class="minimizado">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-button (click)="favoritar()">
          <ion-icon *ngIf="favoritada" color="success" name="heart"></ion-icon>
          <ion-icon *ngIf="!favoritada" color="light" name="heart-empty"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <div class="text-center">
        <small>
          <strong class="musica">Se...</strong>
          <span class="bolinha"> • </span>
          <span class="artista">Djavan</span>
        </small>
      </div>
  
      <ion-buttons slot="end">
        <ion-button (click)="tocar()" class="icon-custom">
          <ion-icon *ngIf="tocando" class=" icon-pause" name="pause"></ion-icon>
          <ion-icon *ngIf="!tocando" class="icon-play" name="play"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ng-container>

<ng-template #maximizado>
  fazer player maximizado
</ng-template>

