<ion-header>
  <ion-toolbar color="dark" class="transparent">
    <ion-buttons slot="start">
      <ion-button (click)="fechar()">
        <ion-icon size="large" name="arrow-dropdown"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-title-custom text-center">
      <span class="d-block ion-title-custom-title">Tocando da playlist</span>
      <span class="d-block ion-title-custom-subtitle">Spotify Ionic 4</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="gradient">
  <ng-container *ngIf="musica && musicas">
  
    <div class="w-100 h-100 foto-hex-bg" #fotoBg>
      <div class="w-100 h-100 foto-bg-gradient"></div>
    </div>
    <div class="p-1 player-infos">
      <div class="px-2 mb-1">
        <img class="w-100 foto" src="{{ musica.artista.foto }}" alt="{{ musica.artista.nome }}" />
      </div>
    </div>

  </ng-container>
</ion-content>
