<ion-header>
  <ion-toolbar color="dark" class="transparent">
    <ion-buttons slot="start">
      <ion-button (click)="fechar()">
        <ion-icon size="large" name="arrow-dropdown"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-title-custom text-center">
      <span class="d-block ion-title-custom-title">Tocando da playlist</span>
      <span class="d-block ion-title-custom-subtitle">Spotify Ionic 4</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="gradient">
  <ng-container *ngIf="musica && musicas">
    <div class="w-100 h-100 foto-hex-bg" #fotoBg>
      <div class="w-100 h-100 foto-bg-gradient"></div>
    </div>

    <div class="player-infos">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="px-1 my-1">
              <img class="w-100 foto" src="{{ musica.artista.foto }}" alt="{{ musica.artista.nome }}" />
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="px-1">
          <ion-col size="10">
            <ion-text color="light">
              <h1 class="my-0">{{ musica.titulo }}</h1>
              <p class="my-0 opacity-05">{{ musica.artista.nome }}</p>
            </ion-text>
          </ion-col>
          <ion-col size="2" class="text-right">
            <app-player-btn-favoritar
              [iconSize]="'large'"
              [buttonFill]="'clear'"
              [buttonColor]="'dark'"
            ></app-player-btn-favoritar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
